<% layout("/layouts/boilerplate.ejs") %>

<h3>All Listings</h3>

<div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
  <% for (let listing of allListings) { %>
<a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listig-card">
   <img 
  src="<%= listing.image && typeof listing.image === 'string' ? listing.image : listing.image?.url  %>" 
  onerror="this.style.display='none'" 
  class="card-img-top" 
  style="height:20rem ;"
  alt="Listing image" 
/>
<div class="card-img-overlay">@atul</div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br>
         &#8377; <%= listing.price.toLocaleString("en-IN") %> /night

        </p>
      </div>
    </div>
    </a>
  <% } %>
</div>
