<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AIRBNB</title>
</head>
<body>

  <h2>Create New Listing</h2>

  <form action="/listing" method="POST">

    <input name="listing[title]" placeholder="Enter title" required>
    <br><br>

    <textarea name="listing[description]" placeholder="Enter description" required></textarea>
    <br><br>

    <input name="listing[image]" placeholder="Enter image URL" type="text">
    <br><br>

    <input name="listing[price]" placeholder="Enter price" type="number" required>
    <br><br>

    <input name="listing[location]" placeholder="Enter location" type="text" required>
    <br><br>

    <input name="listing[country]" placeholder="Enter country name" type="text" required>
    <br><br>

    <button type="submit">Add</button>
  </form>

</body>
</html>

