<% layout("/layouts/boilerplate") %>
<div class="container text-center mt-5">
  <h2> Payment Successful!</h2>
  <p>Thank you for your purchase.</p>
  <a href="/listings" class="btn btn-dark mt-3">Back to Listings</a>
</div>
